[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}
#overlay-approve {
	background: rgba(227, 232, 232, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
.loader {
	position: relative;
}

.loadingImage {
	top: 40%;
	left: 47%;
	width: 5%;
	display: flex;
	position: fixed;
}
.action-modal.fade .modal-dialog, .approve-modal.fade .modal-dialog, .refuse-modal.fade .modal-dialog, .error-modal.fade .modal-dialog {
	position: relative;
}
.action-modal .btn-white, .approve-modal .btn-white, .refuse-modal .btn-white, .error-modal .btn-white {
	color: #83bbd2 !important;
	background: #ffffff !important;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #83bbd2;
}

.action-modal .btn-white:hover, .approve-modal .btn-white:hover, .refuse-modal .btn-white:hover, .error-modal .btn-white:hover {
	background: #83bbd2 !important;
	color: #ffffff !important;
	border: solid 1px #83bbd2;
	box-shadow: 1px 2px 1px 1px #83bbd2;
}
.approve-refuse h2 {
    color: #ef2637;
    font-weight: 400;
}
.approve-refuse .btn-info {
	background-color:#83bbd2;
	border-color:  #83bbd2;
}
.approve-refuse .btn-white {
	color: #83bbd2 !important;
	background: #ffffff !important;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #83bbd2;
}

.approve-refuse .btn-white:hover {
	background: #83bbd2 !important;
	color: #ffffff !important;
	border: solid 1px #83bbd2;
	box-shadow: 1px 2px 1px 1px #83bbd2;
}

.approve-refuse .emp-img, .action-modal .emp-img{
	width: 2.6rem;
	height: 3rem;
	border-radius: 20px;
}

.approve-refuse .table thead>tr>th {
	background: #9cb45b;
	color:#ffffff;
}

.approve-refuse .table tbody>tr {
	box-shadow: 1px 1px 2px grey;
}

.approve-refuse .table tbody>tr>td, .approve-refuse.table thead>tr>th {
	border: 1px solid #ddd;
	padding: 5px;
}

.approve-refuse .table tbody>tr>td:first-child, .approve-refuse .table thead>tr>th:first-child
	{
	border-left: 1px solid #ddd;
	border-right: none;
}
.approve-refuse .table tbody>tr>td.red{
	border-left: 5px solid #ef2637;
}
.approve-refuse .table tbody>tr>td.green{
	border-left: 5px solid #8CC152;
}
.approve-refuse .table tbody>tr>td.yellow{
	border-left: 5px solid #FFD855;
}
.approve-refuse .table tbody>tr>td, .approve-refuse .table thead>tr>th {
	border-left: none;
	border-right: none;
}

.approve-refuse .table tbody>tr>td:last-child, .approve-refuse .table thead>tr>th:last-child
	{
	border-left: none;
	border-right: 1px solid #ddd;
}

.approve-refuse .table {
	border-collapse: separate;
	border-spacing: 0 0.5rem;
}

.approve-refuse .table p, .action-modal p {
	line-height: 15px;
	margin-bottom: 0;
}
@media only screen and (max-width: 768px) {

	.approve-refuse .table > tbody > tr > td{
    border: none;
    position: relative;
    padding-left: 47% !important;
    white-space: normal;
    text-align: left;
    height: auto!important;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;
    font-size: 0.75rem;
	  }
    .approve-refuse .table > tbody > tr > td::before{
	position: absolute;
    left: 0;
    width: 40%;
    padding: 0 8px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
    content: attr(data-title);
    font-weight: bold;
    font-style: normal;
    font-size: 0.75rem;
    color: #6B6C7E;
    text-transform: none;
    background: transparent;
    line-height: 38px;
	}
	.approve-refuse .table tbody > tr > td:last-child{
		border:none;
	}
	.approve-refuse .table tbody > tr > td:first-child{
		border-left:none;
	}
}